/* fonts */

/* SourceSansPro-Regular */
@font-face {
  font-family: "ssp-regular";
  src: url('/vendor/fonts/source-sans-pro/SourceSansPro-Regular.otf') format("truetype");
}
.ssp-regular { font-family: "ssp-regular", sans-serif }

/* SourceSansPro-Bold */
@font-face {
  font-family: "ssp-bold";
  src: url('/vendor/fonts/source-sans-pro/SourceSansPro-Bold.otf') format("truetype");
}
.ssp-bold { font-family: "ssp-bold", sans-serif }

/* End of fonts */

/* Login styles */
.box {
  position: relative;
  color: #ccc;
  font-size: 1rem;
}

.box input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.box input { text-indent: 30px;}
.box i{
  position: absolute;
  top: 16px;
  left: 10px;
}

.box a{
  font-size: 13px;
}

.color-grey{
    color: #4A4A4A;
    font-size: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

.checkbox {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 768px) {
    .s-full-box{
        width: 90%;
        text-align: left;
    }
}

@media screen and (min-width:768px) {
    .l-third{
        width: 33.333%;
        text-align: center;
    }
}

/* End of login styles */
