/* body and html css */
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #F5F5F5;
}

  /**
  * Footer Styles
  */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

a.footerlink:link{
    color:blue;
}

a.footerlink:hover{
    color: black;
}
/* End of body and html css  */


#header{
    margin-top:0;
}

#header>a>img{
    width: 200px;
}

.w3-padding-8{
    padding-top: 6px;
    padding-bottom: 6px;
}

.c-button{
    margin-left: 20px;
    margin-right: 20px;
}

.c-link{
    text-decoration: none;
}


.text-left{
    text-align: left;
}

.text-center{
    text-align: center;
}

.a-decoration-none{
    text-decoration: none;
}


/* Button Burger on small screen css */
.c-button-burger {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.w3-padding-8{
    padding-top: 6px;
    padding-bottom: 6px;
}
/* Button Burger on small screen css end*/


.width-100{
    width:100%;
}

/* Change Password css */
.child-margin-edge > * {
    margin-left: 20px;
    margin-right: 20px;
}

/* Ubah Informasi Password box css */
@media screen and (min-width: 769px) {
    .box-width-normal{
        width: 60vw;
    }
}

@media screen and (max-width: 768px) {
    .box-width-80{
        width: 80%;
        margin:auto;
        margin-top:30px;
        margin-bottom:80px;
    }
}

@media screen and (max-width: 425px) {
    .box-width-93{
        width: 93%;
    }
}

/* input box */
@media screen and (max-width: 768px) {
    .input-max-width{
        width: 100%;
    }
}

@media screen and (min-width: 769px) {
    .input-min-width{
        width: 400px;
    }
}

.box-height-450{
    height:450px;
}
