body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    background-color: #F5F5F5;
}

#header{
    margin-top:0;
}

#header>img{
    width: 200px;
}

/* footer */
a.footerlink:link{
    color:blue;
}

a.footerlink:hover{
    color: black;
}
/* End of footer css */

.a-decoration-none{
    text-decoration: none;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    background-image: url('../storage/img/a_main_banner/website_banner.jpg');
    min-height: 100%;
}

.c-button{
    margin-left: 20px;
    margin-right: 20px;
}

.c-button-burger {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.c-link{
    text-decoration: none;
}

.little-spacing-after {
    line-height: 1em;
}

.product-img-width{
    width: 90px;
}

.product-text-middle{
    line-height:70px;
}

.margin-right-0{
    margin-right: 0;
}

.margin-top-min20{
    margin-top:-20px;
}

.margin-bottom-min20{
    margin-bottom:-20px;
}

.responsive{
    max-width: 90px;
    display: block;
    height: auto;

}

.c-text-bold{
    font-weight: bold;
}

.text-justify{
    text-align: justify;
}

.text-center{
    text-align: center;
}

.width-100{
  width:100%;
}

.w3-padding-8{
    padding-top: 6px;
    padding-bottom: 6px;
}

@media screen and (max-width: 800px) {
    .mobile-center {
        text-align: center;
    }
}

/* fonts */

/* SourceSansPro-Regular */
@font-face {
  font-family: "ssp-regular";
  src: url('/vendor/fonts/source-sans-pro/SourceSansPro-Regular.otf') format("truetype");
}
.ssp-regular { font-family: "ssp-regular", sans-serif }

/* SourceSansPro-Bold */
@font-face {
  font-family: "ssp-bold";
  src: url('/vendor/fonts/source-sans-pro/SourceSansPro-Bold.otf') format("truetype");
}
.ssp-bold { font-family: "ssp-bold", sans-serif }

/* End of fonts */

/* Login styles */
.search {
  position: relative;
  color: #ccc;
  font-size: 1rem;
}

.search input {
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search input { text-indent: 30px;}
.search i{
  position: absolute;
  top: 16px;
  left: 10px;
}

.search a{
  font-size: 13px;
}

.color-grey{
    color: #4A4A4A;
    font-size: 1rem;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

.checkbox {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

@media screen and (max-width: 768px) {
    .s-full-box{
        width: 90%;
        text-align: left;
    }
}

@media screen and (min-width:768px) {
    .l-third{
        width: 33.333%;
        text-align: center;
    }
}

/* End of login styles */
